.marking {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 3.5em;
  width: 3.5em;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
  border-radius: 50%;
}

.marking:hover {
  transform: scale(1.2);
  transform-origin: center;
  background-color: rgba(192, 192, 192, 0.541);
}

.marking span {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size:small;
  display: block;
  position: absolute;
}

.marking-bubble {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.556);
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


#marking-delete-button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: crimson;
  position: absolute;
  top: -13px;
  left: 17px;
  object-position: center center;
  display: none;
}

#marking-edit-button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: cornflowerblue;
  position: absolute;
  top: 17px;
  left: -13px;
  object-position: center center;
  display: none;
}

.marking:hover #marking-edit-button {
  display:block;
}

.marking:hover #marking-delete-button {
  display:block;
}
